:root {
  --sl-color-accent-low: #0a1f4a;
  --sl-color-accent: #0c6fff;
  --sl-color-accent-high: #9ec5ff;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #d6e7ff;
  --sl-color-accent: #0c6fff;
  --sl-color-accent-high: #0055cc;
}

.starlight-aside--caution {
  --sl-color-asides-text-accent: var(--sl-color-orange-high);
}

h2[id^='20'] {
  border-bottom: 1px solid var(--sl-color-gray-5);
  padding-bottom: 0.3em;
}
